<!-- Encabezado -->
<p-table [value]="_list" [rowHover]="true">
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Apellido</th>
            <th>Documento</th>
            <!-- <th>Accion</th> -->
        </tr>
    </ng-template>

<!-- Datos -->
    <ng-template #body let-client>
        <tr [pSelectableRow]="client" (click)="onRowClick(client)">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.lastname }}</td>
            <td>{{ client.documentNumber }}</td>
            <!-- <td> 
                <button type="button" (click)="onEdit(client)" pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                <button type="button" (click)="onDelete(client)" pButton icon="pi pi-trash" class="p-button-rounded p-button-text"></button> 
            </td> -->
        </tr>
    </ng-template>
</p-table>