<!-- Encabezado -->
<p-table [value]="_list" [rowHover]="true">
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Document</th>
            <th>Adress</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Customer status</th>
            <th>Birth day</th>
            <th>Bank id</th>
            <th>Action</th>
        </tr>
    </ng-template>

<!-- Datos -->
    <ng-template #body let-client>
        <tr [pSelectableRow]="client" (click)="onRowClick(client)">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.lastname }}</td>
            <td>{{ client.documentNumber }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.mail }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.customerStatus }}</td>
            <td>{{ client.birth }}</td>
            <td>{{ client.bank.id }}</td>
            <td> 
                <button type="button" (click)="onEdit(client)" pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                <button type="button" (click)="onDelete(client)" pButton icon="pi pi-trash" class="p-button-rounded p-button-text"></button> 
            </td> 
        </tr>
    </ng-template>
</p-table>