<form #accountForm="ngForm" (ngSubmit)="save()" class="formgrid grid" style="max-width: 600px; margin: auto">

    <!-- Titular -->
    <div class="field col-12 md:col-6">
        <input type="text" pInputText [(ngModel)]="model.holder" name="holder" placeholder="Titular" />
    </div>

    <!-- Número de cuenta -->
    <div class="field col-12 md:col-6">
        <input type="text" pInputText [(ngModel)]="model.number" name="number" placeholder="Numero de cuenta" />
    </div>


    <!-- Moneda -->
    <div class="field col-12 md:col-6">
        <p-dropdown
        [options]="currencies"
        optionLabel="name"
        optionValue="id"
        placeholder="Moneda"
        [(ngModel)]="model.currencyId"
        name="currencyId">
        </p-dropdown>
    </div>

    <!-- Cliente -->
    <div class="field col-12 md:col-6">
        <p-dropdown
        [options]="customers"
        optionLabel="name"
        optionValue="id"
        placeholder="Cliente"
        [(ngModel)]="model.customerId"
        name="customerId"
        appendTo="body">
        
        </p-dropdown>
    </div>

    <!-- Tipo de cuenta -->
    <div class="field col-12 md:col-6">
        <p-dropdown
        [options]="accountTypes"
        optionLabel="label"
        optionValue="value"
        placeholder="Tipo de cuenta"
        [(ngModel)]="model.type"
        name="type">
        </p-dropdown>
    </div>

    <!-- Datos de cuenta de ahorro (solo si type === 0) -->
    <div *ngIf="model.type === 0" class="field col-12">
        <p-dropdown
        [options]="savingTypes"
        optionLabel="label"
        optionValue="value"
        placeholder="Tipo de ahorro"
        [(ngModel)]="model.createSavingAccount.savingType"
        name="savingType">
        </p-dropdown>
    </div>

    <!-- Datos de cuenta corriente (solo si type === 1) -->
    <div *ngIf="model.type === 1" class="col-12">
        <div class="field col-12 md:col-6">
            <label for="operationalLimit">Límite operativo</label>
            <input type="number" pInputText [(ngModel)]="model.createCurrentAccount.operationalLimit" name="operationalLimit" id="operationalLimit" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="monthAverage">Promedio mensual</label>
            <input type="number" pInputText [(ngModel)]="model.createCurrentAccount.monthAverage" name="monthAverage" id="monthAverage" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="interest">Interés (%)</label>
            <input type="number" pInputText [(ngModel)]="model.createCurrentAccount.interest" name="interest" id="interest" />
        </div>
    </div>


    <!-- Botón -->
    <div class="field col-12 flex justify-content-center">
        <button type="submit" pButton label="Guardar Cuenta" class="p-button-success"></button>
    </div>
</form>
