<div class="dashboard-container">
    <p-card styleClass="dashboard-card">
        

    <div class="dashboard-content">
        <section class="info-container">
            <h1>Bienvenido a tu Mini Bank</h1>
            <p>
            Tu espacio como administrador para mantener el sistema en orden. 
            Consultá, gestioná y actualizá toda la información bancaria con agilidad y confianza.
            </p>

        </section>
    
        <img src="assets/bank.png" alt="image" class="bank-image" />
    </div>
</p-card>
</div>




